.backgroundImg {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 1210px;
    height: 844px;
    object-fit: cover;
}

.login {
    position: relative;
    background-color: #efefef;
    width: 100%;
    height: 844px;
    overflow: hidden;
} 
