.labelDiv {
  position: relative;
  letter-spacing: 1.25px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}
.submitButtonDiv,
.textDiv {
  display: flex;
  flex-direction: row;
  padding: 4px 8px 4px 6px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.submitButtonDiv {
  position: absolute;
  top: 306px;
  left: 309px;
  border-radius: 4px;
  background-color: #6200ee;
  padding: 6px 6px 6px 8px;
  cursor: pointer;
  text-align: left;
  font-size: 14px;
  color: #fff;
  font-family: Roboto;
}
