.rectangleDiv {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 33, 33, 0.08);
}
.maskIcon {
  position: relative;
  width: 46px;
  height: 10px;
}
.systemBarDiv {
  position: absolute;
  height: 2.88%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 97.12%;
  left: 0;
}
