.secondaryTextDiv1 {
  flex: 1;
  position: relative;
  letter-spacing: 0.25px;
  line-height: 20px;
  display: inline-block;
}
.secondaryTextDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 16px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  font-family: Roboto;
}
